

body {
    font-family: 'Lato', sans-serif;
}

.card-header {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.4rem;
}

/* WELCOME SCREEN */
#welcome {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("marble.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

@media screen and (max-width: 810px) {
    #welcome {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
        url("marble.jpg");
    }
}

#me {
    display: inline-block;
    color: white;
    text-align: left;
    font-family: 'Pacifico', cursive;
    font-size: 800%;
    padding-left: 5%;
    padding-top: 0.1%;
    margin-top: 0;
    line-height: 98%;
    vertical-align: bottom;

    /* -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /*Firefox < 16*/
    -ms-animation: fadein 3s;
    /*Internet Explorer*/
    -o-animation: fadein 3s;
    /*Opera < 12.1*/
    animation: fadein 3s;

    -moz-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

#name {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    padding-left: 5%;
    padding-top: 10%;
    margin-bottom: 2%;
    padding-bottom: 0;
    margin-top: 7%;
    letter-spacing: 5px;

    /* -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease 3s 1 normal;
    /*Firefox < 16*/
    -ms-animation: fadein 3s ease 3s 1 normal;
    /*Internet Explorer*/
    -o-animation: fadein 3s ease 3s 1 normal;
    /*Opera < 12.1*/
    animation: fadein 3s ease 3s 1 normal;

    -moz-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

#desc {
    display: inline-block;
    color: #4fb3bf;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 210%;
    padding-left: 5%;
    margin-top: 0;
    padding-top: 1.5%;

    /* -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s ease 1.5s 1 normal;
    /*Firefox < 16*/
    -ms-animation: fadein 3s ease 1.5s 1 normal;
    /*Internet Explorer*/
    -o-animation: fadein 3s ease 1.5s 1 normal;
    /*Opera < 12.1*/
    animation: fadein 3s ease 1.5s 1 normal;

    -moz-animation-fill-mode: backwards;
    -ms-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

#at {
    color: #4fb3bf;
    font-weight: bold;
}

#jain {
    font-weight: bold;
    font-size: 95%
}

@media screen and (max-width: 810px) {
    #name {
        font-size: 150%;
        letter-spacing: 3px;
    }

    #me {
        font-size: 500%;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #desc {
        font-size: 175%
    }
}

@media screen and (max-height: 600px) {
    #name {
        margin-top: 1.25%;
    }
}

@media screen and (max-height: 500px) {
    #welcome {
        display: none;
    }
}

/*SCROLLDOWN BUTTON*/
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 4px solid #4fb3bf;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s, fadein 3s 1 3s;
    animation: bounce 2s infinite 2s, fadein 3s 1 3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 4px solid #4fb3bf;
    border-width: 0px 0 4px 4px;
}

/*FADEIN ANIMATIONS*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*BOUNCE ANIMATIONS*/
@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

/* Navbar */
.nav {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
}

.navlink {
    flex-basis: 175px;
    margin: 9px 10px;
    padding: 13px 0px;
    background-color: white;
    color: #00838f;
    line-height: 90%;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-style: solid;
    border-color: #00838f;
    border-radius: 10px;
    border-width: 4px;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

#navtext {
    font-family: 'Raleway', sans-serif;
    font-size: 175%;
    letter-spacing: 2px;
    border-style: none;
    margin-left: 6%;
    margin-right: auto;
    flex-basis: auto;
    font-weight: normal;
    color: black;
}


#navat {
    font-weight: bold;
    color: #4fb3bf;
}

#navjain {
    font-weight: bold;
}

@media screen and (max-width: 810px) {
    .nav {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }

    .navlink {
        border-style: none;
        width: 100%;
        border-radius: 0px;
        flex-basis: auto;
        margin-left: 0;
        margin-right: 0;
    }

    #navtext {
        margin-left: 0;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 0.5px 20px 1px rgba(37, 37, 37, 0.459);
}

.sticky+.textsection {
    padding-top: 125px !important;
}

/* SHADOW */
.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
        0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-move {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-move:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}